<div class="text-center">
    <h2>{{post.name}}</h2>
    <p>{{{get_emoji}}}</p>
    <p>{{post.description}}</p>
    <p>Created by {{user.name}} on {{format_date post.date_created}}</p>

    <!-- Added Display Comments-->
    {{#if comments}}
    <div class="col-md-6 post-list">
        <h3>Comments:</h3>

        {{#each comments as |comment|}}
        <div class="row mb-2">
            <div class="col-md-8">
                <h4>{{comment.name}} --- {{comment.user.name}}</h4>
                <p>{{comment.description}}</p>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}



    <p>
    <form class="form new-comment-form">
        <div class="form-group">
            <label for="comment-title">Title:</label>
            <input class="form-input" type="text" id="comment-title" name="comment-title" />
        </div>
        <div class="form-group">
            <label for="comment-desc">What's on your mind?:</label>
            <textarea class="form-input" id="comment-desc" name="comment-desc"></textarea>
            <input type="hidden" id="post_id" value="{{id}}" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
    <button class="btn btn-primary">Add Comment</button>
    </p>
</div>

<script src="../js/post.js"></script>